<a href="https://colab.research.google.com/github/jaga146/jagannath/blob/main/python1_jagannath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(type(7))
print(type(3.0))

x, y = 11, 5
print(x, y)

x, y = y, x
print(x, y)

<class 'int'>
<class 'float'>
11 5
5 11

In [ ]:
divisor, divident = 7, 3
ans = divident / divisor
print(ans)
a, b, c, d = 9, 4, 8, 1

ans = a + b * c / d
print(ans)

# ** is power
exp = a ** b
print(exp)

mod = b % a
print(mod)

# // returns integer division result
intDiv = d // a
# / returns float division result
div = d / a
print(div, intDiv)

0.42857142857142855
41.0
6561
4
0.1111111111111111 0

In [ ]:
num = 73
print(num * 2)
print(num)

num *= 2
print(num)

146
73
146

In [4]:
'''
bool
int
str
list
dict
'''

#bool
is_active = is_active
inactive = not is_active
print(is_active)
print(not is_active)
print(inactive)
print(not inactive)

#str
some_string = "hello i am jaga!"
print(some_string)

#list
my_number = [1,2,3,4]
print(my_number)
print(my_number[1])

#dict
my_name = {'first_name': "bibhu", 'middle_name': "prasad", 'last_name': "das"}
print(my_name)
print(my_name['first_name'])
print(my_name['middle_name'])
print(my_name['last_name'])

NameError: ignored

In [ ]:
game_over = True
print(game_over)

game_over = "Yes, it's over!"
print(game_over)

game_over = 22/7
print(game_over)

#some is anything
game_over = "some"
print(game_over)
print(type(game_over))

True
Yes, it's over!
3.142857142857143
some
<class 'str'>

In [ ]:
single_qoute = 'john'
double_qoute = "jhon"
print(single_qoute)
print(double_qoute)

qoute = 'jhon said, "hello there!"'
print(qoute)
qoute = "jhon said, 'hello there'"
print(qoute)

qoute = "jhon said, \"hello there!\""
print(qoute)

#string concatenation
username = "jhon"
msg = "Hello " + username
print(msg)

#Formatting String
name = "jhon"
msg = f"Hello Mr. {name} Welcome!"
msg2 = "Hello Mr. {} Welcome!".format(name)
print(msg)
print(msg2)

john
jhon
jhon said, "hello there!"
jhon said, 'hello there'
jhon said, "hello there!"
Hello jhon
Hello Mr. jhon Welcome!
Hello Mr. jhon Welcome!

In [ ]:
intx = 10.7
print(type(intx))

floatx = int(intx)
print(floatx)

<class 'float'>
10

In [5]:
print("How many KM did you cycle today?")
# by default input return string input
kms = float(input())
miles = kms/1.61
# precisions
miles = round(miles, 3)
print(f"Your {kms} KM is {miles} Miles")

How many KM did you cycle today?
6.5
Your 6.5 KM is 4.037 Miles